<div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-2xl)" class="gyDkxPbsDc ">
      
    <gp-countdown-timer
      data-id="gyDkxPbsDc"
     class="gp-flex "
     gp-data='{"behaviour":"evergreen","dateStandard":1681351389736,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","loopAfterFinish":true,"minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":9,"endTime":1737082230396,"hours":11,"mins":46,"startTime":1680746589736},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gyDkxPbsDc","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":{},"color":"transparent","isCustom":false,"width":"0px"}}},"boxShadow":{"desktop":{"normal":{"angle":90,"blur":"8px","color":"hsl(0deg 0% 0% / 12%)","distance":"10px","spread":"0px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"rounded":{"desktop":{"normal":{"bblr":{},"bbrr":{},"btlr":{},"btrr":{},"radiusType":"small"}}},"spacing-setting":{"desktop":{"margin":{"bottom":"var(--g-s-2xl)"},"padding":""},"mobile":{"margin":"","padding":""},"tablet":{"margin":"","padding":""}}},"label":"CountDown Timer","settings":{"behaviour":"evergreen","dateStandard":1681351389736,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","loopAfterFinish":true,"minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":9,"endTime":1737082230396,"hours":11,"mins":46,"startTime":1680746589736},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#151515","borderState":{"hover":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"},"normal":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"}},"colorLabel":"#575757","colorNumber":"#242424","horizontalGap":"auto","itemPadding":{"type":"small"},"labelTypo":{"attrs":{"color":"#575757"},"custom":{"fontSize":{"desktop":"13px","mobile":"12px","tablet":"13px"},"fontStyle":"normal","fontWeight":"400","letterSpacing":"normal","lineHeight":{"desktop":"150%","mobile":"150%","tablet":"150%"}},"type":"paragraph-1"},"labelTypography":{"type":"paragraph-2"},"numTypo":{"attrs":{"color":"#242424"},"custom":{"fontSize":{"desktop":"40px","mobile":"35px","tablet":"40px"},"fontStyle":"normal","fontWeight":"700","letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"}},"type":"heading-2"},"numTypography":{"custom":{"desktop":{"fontSize":"40px","fontStyle":"normal","fontWeight":"700","letterSpacing":"0px","lineHeight":"130%"},"mobile":{"fontSize":"35px"},"tablet":{"fontSize":"40px"}}},"roundedState":{"hover":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"},"normal":{"btrr":"8px","bblr":"8px","bbrr":"8px","btlr":"8px","radiusType":"custom"}},"textAlign":{"desktop":"center"},"verticalGap":"auto"},"tag":"Countdown","uid":"gyDkxPbsDc","childrens":[],"type":"component"}}'
     gp-href="#"
     style="--jc:center"
     >
      <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:auto;--jc:center">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="gp-absolute gp-inset-0 gp-z-1"
          > </a>
          
          
    <div
        style="--bs:none;--hvr-bs:none;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:transparent;--hvr-bc:transparent;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bg:#151515"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max gp-g-s-small">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gyDkxPbsDc-text">
    <div
      id="day"
        class="gyDkxPbsDc "
        style="--mb:auto;--c:#242424"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gyDkxPbsDc-text">
    <div
      
        class="gyDkxPbsDc "
        style="--c:#575757"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggyDkxPbsDc_dayLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--bs:none;--hvr-bs:none;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:transparent;--hvr-bc:transparent;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bg:#151515"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max gp-g-s-small">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gyDkxPbsDc-text">
    <div
      id="hour"
        class="gyDkxPbsDc "
        style="--mb:auto;--c:#242424"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gyDkxPbsDc-text">
    <div
      
        class="gyDkxPbsDc "
        style="--c:#575757"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggyDkxPbsDc_hourLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--bs:none;--hvr-bs:none;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:transparent;--hvr-bc:transparent;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bg:#151515"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max gp-g-s-small">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gyDkxPbsDc-text">
    <div
      id="minute"
        class="gyDkxPbsDc "
        style="--mb:auto;--c:#242424"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gyDkxPbsDc-text">
    <div
      
        class="gyDkxPbsDc "
        style="--c:#575757"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggyDkxPbsDc_minuteLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--bs:none;--hvr-bs:none;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:transparent;--hvr-bc:transparent;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bg:#151515"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max gp-g-s-small">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gyDkxPbsDc-text">
    <div
      id="second"
        class="gyDkxPbsDc "
        style="--mb:auto;--c:#242424"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gyDkxPbsDc-text">
    <div
      
        class="gyDkxPbsDc "
        style="--c:#575757"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggyDkxPbsDc_secondLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
      </div>
     </gp-countdown-timer>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-countdown.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>