
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gxSiGzv2lm" data-id="gxSiGzv2lm"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--radius:var(--g-radius-small);--pt:30px;--pb:30px;--pt-mobile:10px;--pl-mobile:15px;--pb-mobile:10px;--pr-mobile:15px;--cg:0px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxSiGzv2lm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="g-YZUGeoTw gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)" class="gKQdohX7mv ">
      
    <gp-accordion
      data-id="gKQdohX7mv"
     uid="gKQdohX7mv"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:null;--gg-mobile:18px;border-radius:inherit;overflow:hidden"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":1,"expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gKQdohX7mv","childListNumber":[],"chidlrenUid":["gKsyrtowKr","gMmx8591vm","gjEPyr0bPf","gLHuC8qy3x"]},"styles":{"color":{"active":"#FFFFFF","hover":"#FFFFFF","normal":"#FFFFFF"},"headerBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"1px","color":"rgba(224, 224, 224, 0.1)","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"solid","borderType":"style-1","borderWidth":"1px","color":"rgba(224, 224, 224, 0.1)","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"1px","color":"rgba(224, 224, 224, 0.1)","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"mobile":{"horizontal":"0px","vertical":"10px"}}},"textColor":{"active":"#FFFFFF","hover":"#FFFFFF","normal":"#FFFFFF"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":null,"padding":{"bottom":null,"left":null,"right":null,"top":null,"type":"custom"}},"mobile":{"gap":"18px","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":null,"left":null,"right":null,"top":null,"type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":null,"left":null,"right":null,"top":null,"type":"custom"}},"mobile":{"padding":{"bottom":"10px","left":"0px","right":"0px","top":"10px","type":"custom"}},"tablet":{"padding":{"bottom":null,"left":null,"right":null,"top":null,"type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"gKQdohX7mv"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gKQdohX7mv-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gKQdohX7mv-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #FFFFFF !important
      }
    .gp-accordion-item .gp-accordion-item-gKQdohX7mv-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gKQdohX7mv-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #FFFFFF !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="0"
      class="gKQdohX7mv gp-accordion-item gp-overflow-hidden gp-child-item-gKQdohX7mv"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gKsyrtowKr"
        id="gKsyrtowKr"
        data-index="0"
        class="gKQdohX7mv gp-accordion-item-gKQdohX7mv-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:null;--pr:null;--pt:null;--pb:null;--pl-tablet:null;--pr-tablet:null;--pt-tablet:null;--pb-tablet:null;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:10px;--pb-mobile:10px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#FFFFFF;--c:#FFFFFF;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:rgba(224, 224, 224, 0.1);--hvr-bc:rgba(224, 224, 224, 0.1)"
      >
       <style class="accordion-style">.gKQdohX7mv.gp-accordion-item-gKQdohX7mv-0:hover .gp-collapsible-icon, .gKQdohX7mv.gp-accordion-item-gKQdohX7mv-0:hover .gp-icon {
                  color: #FFFFFF
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#FFFFFF;--c:#FFFFFF;width:16px;height:16px"
            data-index="0"
            class="gKQdohX7mv gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggKQdohX7mv_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gKsyrtowKr"
        data-index="0"
        data-show="false"
        class="gKQdohX7mv gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gKsyrtowKr"
        data-index="0"
        class="gKQdohX7mv gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:null;--pr:null;--pl-tablet:null;--pr-tablet:null;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="g-E2It69Kx gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-xl);--ta:left"
    
  >
    <style>
    .gybr-R2LDs.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .gybr-R2LDs:hover::before {
      
      
    }

    .gybr-R2LDs:hover .gp-button-icon {
      color: undefined;
    }

     .gybr-R2LDs .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gybr-R2LDs:hover .gp-button-price {
      color: undefined;
    }

    .gybr-R2LDs .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gybr-R2LDs .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gybr-R2LDs:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gybr-R2LDs" aria-label="<p>Home</p>"
      
      data-state="idle"
      class="gybr-R2LDs gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.ggybr-R2LDs_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-l);--ta:left"
    
  >
    <style>
    .gH8mgIEThj.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .gH8mgIEThj:hover::before {
      
      
    }

    .gH8mgIEThj:hover .gp-button-icon {
      color: undefined;
    }

     .gH8mgIEThj .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gH8mgIEThj:hover .gp-button-price {
      color: undefined;
    }

    .gH8mgIEThj .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gH8mgIEThj .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gH8mgIEThj:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gH8mgIEThj" aria-label="<p>Our Lip blam</p>"
      
      data-state="idle"
      class="gH8mgIEThj gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.ggH8mgIEThj_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-l);--ta:left"
    
  >
    <style>
    .gf-L3NKES5.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .gf-L3NKES5:hover::before {
      
      
    }

    .gf-L3NKES5:hover .gp-button-icon {
      color: undefined;
    }

     .gf-L3NKES5 .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gf-L3NKES5:hover .gp-button-price {
      color: undefined;
    }

    .gf-L3NKES5 .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gf-L3NKES5 .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gf-L3NKES5:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gf-L3NKES5" aria-label="<p>Reviews</p>"
      
      data-state="idle"
      class="gf-L3NKES5 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.ggf-L3NKES5_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-l);--ta:left"
    
  >
    <style>
    .gDqs1ZGgS1.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .gDqs1ZGgS1:hover::before {
      
      
    }

    .gDqs1ZGgS1:hover .gp-button-icon {
      color: undefined;
    }

     .gDqs1ZGgS1 .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gDqs1ZGgS1:hover .gp-button-price {
      color: undefined;
    }

    .gDqs1ZGgS1 .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gDqs1ZGgS1 .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gDqs1ZGgS1:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gDqs1ZGgS1" aria-label="<p>Contac</p>"
      
      data-state="idle"
      class="gDqs1ZGgS1 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.ggDqs1ZGgS1_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gKQdohX7mv-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gKQdohX7mv-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #FFFFFF !important
      }
    .gp-accordion-item .gp-accordion-item-gKQdohX7mv-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gKQdohX7mv-1:hover .gp-icon.gp-accordion-item-active
     {
        color: #FFFFFF !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="1"
      class="gKQdohX7mv gp-accordion-item gp-overflow-hidden gp-child-item-gKQdohX7mv"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gMmx8591vm"
        id="gMmx8591vm"
        data-index="1"
        class="gKQdohX7mv gp-accordion-item-gKQdohX7mv-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:null;--pr:null;--pt:null;--pb:null;--pl-tablet:null;--pr-tablet:null;--pt-tablet:null;--pb-tablet:null;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:10px;--pb-mobile:10px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#FFFFFF;--c:#FFFFFF;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:rgba(224, 224, 224, 0.1);--hvr-bc:rgba(224, 224, 224, 0.1)"
      >
       <style class="accordion-style">.gKQdohX7mv.gp-accordion-item-gKQdohX7mv-1:hover .gp-collapsible-icon, .gKQdohX7mv.gp-accordion-item-gKQdohX7mv-1:hover .gp-icon {
                  color: #FFFFFF
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#FFFFFF;--c:#FFFFFF;width:16px;height:16px"
            data-index="1"
            class="gKQdohX7mv gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggKQdohX7mv_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gMmx8591vm"
        data-index="1"
        data-show="false"
        class="gKQdohX7mv gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gMmx8591vm"
        data-index="1"
        class="gKQdohX7mv gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:null;--pr:null;--pl-tablet:null;--pr-tablet:null;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gTLer87YXE gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-xl);--ta:left"
    
  >
    <style>
    .g0YrRvGuI6.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .g0YrRvGuI6:hover::before {
      
      
    }

    .g0YrRvGuI6:hover .gp-button-icon {
      color: undefined;
    }

     .g0YrRvGuI6 .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g0YrRvGuI6:hover .gp-button-price {
      color: undefined;
    }

    .g0YrRvGuI6 .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g0YrRvGuI6 .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g0YrRvGuI6:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="g0YrRvGuI6" aria-label="<p>Shipping Policy</p>"
      
      data-state="idle"
      class="g0YrRvGuI6 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.gg0YrRvGuI6_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-l);--ta:left"
    
  >
    <style>
    .giDFJ60jC0.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .giDFJ60jC0:hover::before {
      
      
    }

    .giDFJ60jC0:hover .gp-button-icon {
      color: undefined;
    }

     .giDFJ60jC0 .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .giDFJ60jC0:hover .gp-button-price {
      color: undefined;
    }

    .giDFJ60jC0 .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .giDFJ60jC0 .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .giDFJ60jC0:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="giDFJ60jC0" aria-label="<p>Privacy Policy</p>"
      
      data-state="idle"
      class="giDFJ60jC0 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.ggiDFJ60jC0_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-l);--ta:left"
    
  >
    <style>
    .gjB4Zot6Qw.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .gjB4Zot6Qw:hover::before {
      
      
    }

    .gjB4Zot6Qw:hover .gp-button-icon {
      color: undefined;
    }

     .gjB4Zot6Qw .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gjB4Zot6Qw:hover .gp-button-price {
      color: undefined;
    }

    .gjB4Zot6Qw .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gjB4Zot6Qw .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gjB4Zot6Qw:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gjB4Zot6Qw" aria-label="<p>Refund Policy</p>"
      
      data-state="idle"
      class="gjB4Zot6Qw gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.ggjB4Zot6Qw_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-l);--ta:left"
    
  >
    <style>
    .gWZvYsaJWK.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .gWZvYsaJWK:hover::before {
      
      
    }

    .gWZvYsaJWK:hover .gp-button-icon {
      color: undefined;
    }

     .gWZvYsaJWK .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gWZvYsaJWK:hover .gp-button-price {
      color: undefined;
    }

    .gWZvYsaJWK .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gWZvYsaJWK .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gWZvYsaJWK:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gWZvYsaJWK" aria-label="<p>Term of services</p>"
      
      data-state="idle"
      class="gWZvYsaJWK gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.ggWZvYsaJWK_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gKQdohX7mv-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gKQdohX7mv-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #FFFFFF !important
      }
    .gp-accordion-item .gp-accordion-item-gKQdohX7mv-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gKQdohX7mv-2:hover .gp-icon.gp-accordion-item-active
     {
        color: #FFFFFF !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="2"
      class="gKQdohX7mv gp-accordion-item gp-overflow-hidden gp-child-item-gKQdohX7mv"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gjEPyr0bPf"
        id="gjEPyr0bPf"
        data-index="2"
        class="gKQdohX7mv gp-accordion-item-gKQdohX7mv-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:null;--pr:null;--pt:null;--pb:null;--pl-tablet:null;--pr-tablet:null;--pt-tablet:null;--pb-tablet:null;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:10px;--pb-mobile:10px;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-c:#FFFFFF;--c:#FFFFFF;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:rgba(224, 224, 224, 0.1);--hvr-bc:rgba(224, 224, 224, 0.1)"
      >
       <style class="accordion-style">.gKQdohX7mv.gp-accordion-item-gKQdohX7mv-2:hover .gp-collapsible-icon, .gKQdohX7mv.gp-accordion-item-gKQdohX7mv-2:hover .gp-icon {
                  color: #FFFFFF
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#FFFFFF;--c:#FFFFFF;width:16px;height:16px"
            data-index="2"
            class="gKQdohX7mv gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggKQdohX7mv_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gjEPyr0bPf"
        data-index="2"
        data-show="false"
        class="gKQdohX7mv gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gjEPyr0bPf"
        data-index="2"
        class="gKQdohX7mv gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:null;--pr:null;--pl-tablet:null;--pr-tablet:null;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gSnunAVKni gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-xl);--ta:left"
    
  >
    <style>
    .glT9hQtbwM.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .glT9hQtbwM:hover::before {
      
      
    }

    .glT9hQtbwM:hover .gp-button-icon {
      color: undefined;
    }

     .glT9hQtbwM .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .glT9hQtbwM:hover .gp-button-price {
      color: undefined;
    }

    .glT9hQtbwM .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .glT9hQtbwM .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .glT9hQtbwM:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="glT9hQtbwM" aria-label="Customer Service"
      
      data-state="idle"
      class="glT9hQtbwM gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.gglT9hQtbwM_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-l);--ta:left"
    
  >
    <style>
    .gUkrTp05Nk.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .gUkrTp05Nk:hover::before {
      
      
    }

    .gUkrTp05Nk:hover .gp-button-icon {
      color: undefined;
    }

     .gUkrTp05Nk .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gUkrTp05Nk:hover .gp-button-price {
      color: undefined;
    }

    .gUkrTp05Nk .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gUkrTp05Nk .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gUkrTp05Nk:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gUkrTp05Nk" aria-label="Returns & Exchanges"
      
      data-state="idle"
      class="gUkrTp05Nk gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.ggUkrTp05Nk_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-l);--ta:left"
    
  >
    <style>
    .gOR2dlvFIL.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .gOR2dlvFIL:hover::before {
      
      
    }

    .gOR2dlvFIL:hover .gp-button-icon {
      color: undefined;
    }

     .gOR2dlvFIL .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gOR2dlvFIL:hover .gp-button-price {
      color: undefined;
    }

    .gOR2dlvFIL .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gOR2dlvFIL .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gOR2dlvFIL:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gOR2dlvFIL" aria-label="FAQs"
      
      data-state="idle"
      class="gOR2dlvFIL gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.ggOR2dlvFIL_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-l);--ta:left"
    
  >
    <style>
    .gLa2BLmfPK.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .gLa2BLmfPK:hover::before {
      
      
    }

    .gLa2BLmfPK:hover .gp-button-icon {
      color: undefined;
    }

     .gLa2BLmfPK .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gLa2BLmfPK:hover .gp-button-price {
      color: undefined;
    }

    .gLa2BLmfPK .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gLa2BLmfPK .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gLa2BLmfPK:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gLa2BLmfPK" aria-label="Contact Us"
      
      data-state="idle"
      class="gLa2BLmfPK gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.ggLa2BLmfPK_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            {% render 'gp-section-545957870223491933-0', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    