

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-548167638061155472.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-548167638061155472.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-548167638061155472.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-548167638061155472.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-548167638061155472.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-548167638061155472.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-548167638061155472.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-548167638061155472.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-548167638061155472.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-548167638061155472.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-548167638061155472.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-548167638061155472.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-548167638061155472.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-548167638061155472.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-548167638061155472.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-548167638061155472.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-548167638061155472.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-548167638061155472.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-548167638061155472.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-548167638061155472.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-548167638061155472.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-548167638061155472.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-548167638061155472.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-548167638061155472.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-548167638061155472.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-548167638061155472.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-548167638061155472.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-548167638061155472.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-548167638061155472.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-548167638061155472.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-548167638061155472.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-548167638061155472.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-548167638061155472.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-548167638061155472.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-548167638061155472.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-548167638061155472.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-548167638061155472.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-548167638061155472.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-548167638061155472.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-548167638061155472.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-548167638061155472.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-548167638061155472.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-548167638061155472 .gp-g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-548167638061155472 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-548167638061155472 .gp-g-s-medium{padding:8px 24px}.gps-548167638061155472 .gp-absolute{position:absolute}.gps-548167638061155472 .gp-relative{position:relative}.gps-548167638061155472 .gp-inset-0{inset:0}.gps-548167638061155472 .gp-z-1{z-index:1}.gps-548167638061155472 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-548167638061155472 .gp-mb-0{margin-bottom:0}.gps-548167638061155472 .gp-flex{display:flex}.gps-548167638061155472 .gp-grid{display:grid}.gps-548167638061155472 .\!gp-hidden{display:none!important}.gps-548167638061155472 .gp-hidden{display:none}.gps-548167638061155472 .gp-w-max{width:-moz-max-content;width:max-content}.gps-548167638061155472 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-548167638061155472 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-548167638061155472 .gp-max-w-full{max-width:100%}.gps-548167638061155472 .gp-flex-1{flex:1 1 0%}.gps-548167638061155472 .gp-flex-col{flex-direction:column}.gps-548167638061155472 .gp-flex-wrap{flex-wrap:wrap}.gps-548167638061155472 .gp-gap-y-0{row-gap:0}.gps-548167638061155472 .gp-bg-g-bg-2{background-color:var(--g-c-bg-2)}.gps-548167638061155472 .gp-text-center{text-align:center}.gps-548167638061155472 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-548167638061155472 .gp-duration-200{transition-duration:.2s}.gps-548167638061155472 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-548167638061155472 .tablet\:\!gp-hidden{display:none!important}.gps-548167638061155472 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-548167638061155472 .mobile\:\!gp-hidden{display:none!important}.gps-548167638061155472 .mobile\:gp-hidden{display:none}}.gps-548167638061155472 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-548167638061155472 .\[\&_p\]\:gp-inline p{display:inline}.gps-548167638061155472 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-548167638061155472 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="i2l1011cb95c9" data-id="i2l1011cb95c9"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(0, 0, 0)"
        class="i2l1011cb95c9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l1011cb95c9 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="w-i2l1011cb95c9" data-id="w-i2l1011cb95c9"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:844px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l1011cb95c9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l6497e275cf gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="jrbFseuJAKEV">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="jrbFseuJAKEV "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:64px;--size-tablet:52px;--size-mobile:46px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gjrbFseuJAKEV_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="XrWFlJDmxJKW ">
      
    <gp-countdown-timer
      data-id="XrWFlJDmxJKW"
     class="gp-flex "
     gp-data='{"behaviour":"standard","dateStandard":1698291836420,"timeZone":"UTC+7","timerDaily":{"hours":10,"mins":30,"format":"am"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1697697836421,"startTime":1697687036421},"loopAfterFinish":true,"enableDay":true,"dayLabel":"Days","enableHour":true,"hourLabel":"Hours","enableMinute":true,"minuteLabel":"Minutes","enableSecond":true,"secondLabel":"Seconds","enableWeek":false,"weekLabel":"Weeks","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"link":"#","target":"_self"},"uid":"XrWFlJDmxJKW","builderData":{"tag":"Countdown","label":"Countdown Timer","settings":{"behaviour":"standard","dateStandard":1698291836420,"timeZone":"UTC+7","timerDaily":{"hours":10,"mins":30,"format":"am"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1697697836421,"startTime":1697687036421},"loopAfterFinish":true,"enableDay":true,"dayLabel":"Days","enableHour":true,"hourLabel":"Hours","enableMinute":true,"minuteLabel":"Minutes","enableSecond":true,"secondLabel":"Seconds","enableWeek":false,"weekLabel":"Weeks","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"link":"#","target":"_self"}},"styles":{"numTypo":{"type":"heading-2","attrs":{"color":"text-2"}},"colorNumber":"text-2","labelTypo":{"type":"paragraph-1","attrs":{"color":"text-1"}},"colorLabel":"text-1","textAlign":{"desktop":"left"},"backgroundItemColor":"bg-2","verticalGap":"0px","horizontalGap":"8px","itemPadding":{"type":"medium"},"borderState":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false}},"roundedState":{"normal":{"radiusType":"none"}}},"uid":"XrWFlJDmxJKW","detectedBox":{"class":"countdown_timer","id":"XrWFlJDmxJKW","width":844,"height":243,"left":303,"top":168},"advanced":{"spacing-setting":{"desktop":{"margin":{"top":"0px","actualBottom":"0px","bottom":"0px","left":"0px","right":"0px"},"padding":{"top":"0px","bottom":"0px","left":"0px","right":"0px"}}}},"childrens":[],"type":"component"}}'
     gp-href="#"
     style="--jc:left"
     >
      <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:8px;--jc:left">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="gp-absolute gp-inset-0 gp-z-1"
          > </a>
          
          
    <div
        style="--bs:none;--bw:1px 1px 1px 1px;--bg:var(--g-c-bg-2, bg-2)"
    class="gp-bg-g-bg-2 gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max gp-g-s-medium">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="XrWFlJDmxJKW-text">
    <div
      id="day"
        class="XrWFlJDmxJKW "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number gp-g-heading-2"
          style="--w:100%;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="XrWFlJDmxJKW-text">
    <div
      
        class="XrWFlJDmxJKW "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1"
          style="--w:100%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.gXrWFlJDmxJKW_dayLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--bs:none;--bw:1px 1px 1px 1px;--bg:var(--g-c-bg-2, bg-2)"
    class="gp-bg-g-bg-2 gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max gp-g-s-medium">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="XrWFlJDmxJKW-text">
    <div
      id="hour"
        class="XrWFlJDmxJKW "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number gp-g-heading-2"
          style="--w:100%;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="XrWFlJDmxJKW-text">
    <div
      
        class="XrWFlJDmxJKW "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1"
          style="--w:100%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.gXrWFlJDmxJKW_hourLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--bs:none;--bw:1px 1px 1px 1px;--bg:var(--g-c-bg-2, bg-2)"
    class="gp-bg-g-bg-2 gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max gp-g-s-medium">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="XrWFlJDmxJKW-text">
    <div
      id="minute"
        class="XrWFlJDmxJKW "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number gp-g-heading-2"
          style="--w:100%;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="XrWFlJDmxJKW-text">
    <div
      
        class="XrWFlJDmxJKW "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1"
          style="--w:100%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.gXrWFlJDmxJKW_minuteLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--bs:none;--bw:1px 1px 1px 1px;--bg:var(--g-c-bg-2, bg-2)"
    class="gp-bg-g-bg-2 gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max gp-g-s-medium">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="XrWFlJDmxJKW-text">
    <div
      id="second"
        class="XrWFlJDmxJKW "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number gp-g-heading-2"
          style="--w:100%;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="XrWFlJDmxJKW-text">
    <div
      
        class="XrWFlJDmxJKW "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1"
          style="--w:100%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.gXrWFlJDmxJKW_secondLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
      </div>
     </gp-countdown-timer>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-countdown.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="JpYmdqjgKTty">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="JpYmdqjgKTty "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:50px;--size-tablet:52px;--size-mobile:46px;--c:rgb(250, 250, 250);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gJpYmdqjgKTty_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="IAfUKtmLxTtH">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="IAfUKtmLxTtH "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:50px;--size-tablet:52px;--size-mobile:46px;--c:rgb(252, 252, 252);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gIAfUKtmLxTtH_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="kLVigEkvThcv">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="kLVigEkvThcv "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:47px;--size-tablet:46px;--size-mobile:41px;--c:rgb(250, 250, 250);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gkLVigEkvThcv_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="eTzYmWAwpLtz">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="eTzYmWAwpLtz "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:47px;--size-tablet:46px;--size-mobile:41px;--c:rgb(251, 251, 251);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.geTzYmWAwpLtz_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 17",
    "tag": "section",
    "class": "gps-548167638061155472 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/bfyurd-gb/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=545872441897911241&sectionId=548167638061155472)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gjrbFseuJAKEV_text","label":"gjrbFseuJAKEV_text","default":"Hurry up! 09:12:52:57"},{"type":"html","id":"gXrWFlJDmxJKW_dayLabel","label":"gXrWFlJDmxJKW_dayLabel","default":"Days"},{"type":"html","id":"gXrWFlJDmxJKW_hourLabel","label":"gXrWFlJDmxJKW_hourLabel","default":"Hours"},{"type":"html","id":"gXrWFlJDmxJKW_minuteLabel","label":"gXrWFlJDmxJKW_minuteLabel","default":"Minutes"},{"type":"html","id":"gXrWFlJDmxJKW_secondLabel","label":"gXrWFlJDmxJKW_secondLabel","default":"Seconds"},{"type":"html","id":"gXrWFlJDmxJKW_weekLabel","label":"gXrWFlJDmxJKW_weekLabel","default":"Weeks"},{"type":"html","id":"gJpYmdqjgKTty_text","label":"gJpYmdqjgKTty_text","default":"Mins"},{"type":"html","id":"gIAfUKtmLxTtH_text","label":"gIAfUKtmLxTtH_text","default":"Days"},{"type":"html","id":"gkLVigEkvThcv_text","label":"gkLVigEkvThcv_text","default":"Hrs"},{"type":"html","id":"geTzYmWAwpLtz_text","label":"geTzYmWAwpLtz_text","default":"Secs"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
