

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-548167638077932636.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-548167638077932636.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-548167638077932636.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-548167638077932636.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-548167638077932636.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-548167638077932636.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-548167638077932636.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-548167638077932636.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-548167638077932636.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-548167638077932636.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-548167638077932636.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-548167638077932636.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-548167638077932636.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-548167638077932636.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-548167638077932636.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-548167638077932636.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-548167638077932636.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-548167638077932636.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-548167638077932636.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-548167638077932636.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-548167638077932636.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-548167638077932636.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-548167638077932636.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-548167638077932636.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-548167638077932636.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-548167638077932636.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-548167638077932636.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-548167638077932636.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-548167638077932636.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-548167638077932636.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-548167638077932636.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-548167638077932636.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-548167638077932636.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-548167638077932636.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-548167638077932636.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-548167638077932636.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-548167638077932636.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-548167638077932636.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-548167638077932636.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-548167638077932636.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-548167638077932636.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-548167638077932636.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-548167638077932636.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-548167638077932636.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-548167638077932636.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-548167638077932636.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-548167638077932636.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-548167638077932636.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-548167638077932636.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-548167638077932636.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-548167638077932636.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-548167638077932636.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-548167638077932636.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-548167638077932636.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-548167638077932636.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-548167638077932636.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-548167638077932636.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-548167638077932636.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-548167638077932636.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-548167638077932636.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-548167638077932636.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-548167638077932636.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-548167638077932636.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-548167638077932636.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-548167638077932636.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-548167638077932636.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-548167638077932636.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-548167638077932636.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-548167638077932636.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-548167638077932636.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-548167638077932636.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-548167638077932636.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-548167638077932636 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-548167638077932636 .gp-invisible{visibility:hidden}.gps-548167638077932636 .gp-absolute{position:absolute}.gps-548167638077932636 .gp-relative{position:relative}.gps-548167638077932636 .gp-z-1{z-index:1}.gps-548167638077932636 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-548167638077932636 .gp-mb-0{margin-bottom:0}.gps-548167638077932636 .gp-flex{display:flex}.gps-548167638077932636 .gp-inline-flex{display:inline-flex}.gps-548167638077932636 .gp-grid{display:grid}.gps-548167638077932636 .gp-contents{display:contents}.gps-548167638077932636 .\!gp-hidden{display:none!important}.gps-548167638077932636 .gp-hidden{display:none}.gps-548167638077932636 .gp-h-5{height:20px}.gps-548167638077932636 .gp-h-full{height:100%}.gps-548167638077932636 .gp-w-5{width:20px}.gps-548167638077932636 .gp-w-full{width:100%}.gps-548167638077932636 .gp-max-w-full{max-width:100%}.gps-548167638077932636 .gp-cursor-default{cursor:default}.gps-548167638077932636 .gp-flex-col{flex-direction:column}.gps-548167638077932636 .gp-items-center{align-items:center}.gps-548167638077932636 .gp-justify-center{justify-content:center}.gps-548167638077932636 .gp-gap-y-0{row-gap:0}.gps-548167638077932636 .gp-overflow-hidden{overflow:hidden}.gps-548167638077932636 .gp-break-words{overflow-wrap:break-word}.gps-548167638077932636 .gp-rounded-none{border-radius:0}.gps-548167638077932636 .gp-text-center{text-align:center}.gps-548167638077932636 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-548167638077932636 .gp-line-through{text-decoration-line:line-through}.gps-548167638077932636 .gp-no-underline{text-decoration-line:none}.gps-548167638077932636 .gp-decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-548167638077932636 .gp-opacity-25{opacity:.25}.gps-548167638077932636 .gp-opacity-30{opacity:.3}.gps-548167638077932636 .gp-opacity-75{opacity:.75}.gps-548167638077932636 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-548167638077932636 .gp-duration-200{transition-duration:.2s}.gps-548167638077932636 .gp-duration-300{transition-duration:.3s}.gps-548167638077932636 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-548167638077932636 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-548167638077932636 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-548167638077932636 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-548167638077932636 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true]{display:none}.gps-548167638077932636 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-548167638077932636 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-548167638077932636 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1024px){.gps-548167638077932636 .tablet\:\!gp-hidden{display:none!important}.gps-548167638077932636 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-548167638077932636 .mobile\:\!gp-hidden{display:none!important}.gps-548167638077932636 .mobile\:gp-hidden{display:none}}.gps-548167638077932636 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-548167638077932636 .\[\&_p\]\:gp-inline p{display:inline}.gps-548167638077932636 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-548167638077932636 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-548167638077932636 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g7e_UDUCzj" data-id="g7e_UDUCzj"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7e_UDUCzj gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gY36Pluwzj gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gNZJH-bRrb" data-id="gNZJH-bRrb"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:0px;--pb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNZJH-bRrb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNJ3fiBjrh gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gvs31saknd" data-id="gvs31saknd"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:absolute;--right:24%;--right-mobile:20%;--right-tablet:16%;--pt:24px;--pl:20px;--pb:24px;--pr:20px;--pt-mobile:14px;--pl-mobile:10px;--pb-mobile:14px;--pr-mobile:10px;--top:28%;--top-mobile:26%;--top-tablet:22%;--z:99;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:auto;--w-tablet:auto;--w-mobile:auto;--bgc:#FB4606;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvs31saknd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glZstS_96a gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gCvxXz6exY">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gCvxXz6exY "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-3 gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.ggCvxXz6exY_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gF9FJRy1Do">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gF9FJRy1Do "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.ggF9FJRy1Do_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    <div
    
     data-id="gYFOo-wb3W"
    role="presentation"
    class="gp-group/image gYFOo-wb3W"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/5a3158fc-6abc-4f03-98e2-a3ded32fa917/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtOTU4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9Ijk1OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NTgiIGZpbGw9InVybCgjZy0xNDQwLTk1OCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/5a3158fc-6abc-4f03-98e2-a3ded32fa917/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtOTU4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9Ijk1OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NTgiIGZpbGw9InVybCgjZy0xNDQwLTk1OCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtOTU4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9Ijk1OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NTgiIGZpbGw9InVybCgjZy0xNDQwLTk1OCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="https://ucarecdn.com/5a3158fc-6abc-4f03-98e2-a3ded32fa917/-/format/auto/"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gkUBQMDYdS gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gn9cScPW9V" data-id="gn9cScPW9V"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:30px;--pl:15px;--pb:30px;--pr:15px;--pt-mobile:28px;--pb-mobile:28px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gn9cScPW9V gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giGVyTsqZ6 gp-relative gp-flex gp-flex-col"
    >
      
    
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if 'latest' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['']
                assign productId = 'latest' | times: 1
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == productId
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['']
              assign productId = 'latest' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "g1ZZoW59O2" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="g1ZZoW59O2" data-id="g1ZZoW59O2"   gp-context='{"productId": {{ product.id }}, "isSyncProduct": "", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
       
      
    <div
      id="g1ZZoW59O2" data-id="g1ZZoW59O2-row"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--cg:40px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="g1ZZoW59O2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJPmy3txHz gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gUMw7SJDVm">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gUMw7SJDVm "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:2px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.ggUMw7SJDVm_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-l)" class="gnGQw0Rfnb ">
      
    {%- unless product -%}
      <p>{{ "gempages.ProductTitle.product_not_found" | t }}</p>
    {%- else -%}
      
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gnGQw0Rfnb">
    <div
      
        class="gnGQw0Rfnb "
        
      >
      <div  >
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-product-title"
          style="--w:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ product.title }}</h1>
      </div>
    </div>
    </gp-text>
    
      
    {%- endunless -%}
  
      </div>
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gKuhNdEaSM" data-id="gKuhNdEaSM"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-2xl);--cg:8px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKuhNdEaSM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gpg7N1pCb3 gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        data-id="gR594ftG6J"
        class="gR594ftG6J gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"regular","uid":"gR594ftG6J","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)"
        data-hidden="false"
      >
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      id="p-price-gR594ftG6J"
        class=" "
        
      >
      <div  >
        <div
          type="regular"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-money gp-decoration-g-text-1"
          style="--w:100%;--tdc:text-1;--tdt:1;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >
     {% if variant.price %} 
       {{ variant.price | money}}
     {% endif %}
   </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gqlkrXptiQ gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        data-id="g5ts-wNJFB"
        class="g5ts-wNJFB gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"compare","uid":"g5ts-wNJFB","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:0px"
        data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
      >
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      id="p-price-g5ts-wNJFB"
        class=" "
        
      >
      <div  >
        <div
          type="compare"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-product-compare-price gp-line-through"
          style="--w:100%;--tdc:#B4B4B4;--tdt:1;--ta:left;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >
      {% if variant.compare_at_price  %} 
        {{ variant.compare_at_price | money}}
      {% else %}
        
      {% endif %}
    </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
   {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      class="gp-product-button"
      gp-data-wrapper="true"
      gp-data='{"setting":{"actionEffect":"open-cart-drawer","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","enableSuccessMessage":true,"enableErrorMessage":true,"label":"GET ONLY","outOfStockLabel":"Out of stock","customURL":{}},"styles":{"errorTypo":{"attrs":{"color":"error"},"type":"paragraph-1"},"successTypo":{"attrs":{"color":"success"},"type":"paragraph-1"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}","totalVariant":"{{product.variants.size}}"}' 
       gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/cart"
       data-variant-selection-required-message="{{}}"
    >
        
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-2xl);--ta:center"
    class="{% unless variant.available %} !gp-hidden {% endunless %}"
  >
    <style>
    .gun-AKD3JR.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gun-AKD3JR:hover::before {
      
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gun-AKD3JR:hover .gp-button-icon {
      color: undefined;
    }

     .gun-AKD3JR .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gun-AKD3JR:hover .gp-button-price {
      color: undefined;
    }

    .gun-AKD3JR .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gun-AKD3JR .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gun-AKD3JR:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="submit" data-id="gun-AKD3JR" aria-label="GET ONLY"
      name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
      data-state="idle"
      class="gun-AKD3JR gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-atc tcustomizer-submit-button"
      style="--hvr-bg:rgba(36, 36, 36, 0.8);--bg:#242424;--pl:50px;--pr:50px;--pt:12px;--pb:12px;--pl-tablet:50px;--pr-tablet:50px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:50px;--pr-mobile:50px;--pt-mobile:12px;--pb-mobile:12px;--w:;--w-tablet:;--w-mobile:;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggun-AKD3JR_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

        
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-2xl);--ta:center"
    class="{% if variant.available %} !gp-hidden {% endif %}"
  >
    <style>
    .gun-AKD3JR-sold-out.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gun-AKD3JR-sold-out:hover::before {
      
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gun-AKD3JR-sold-out:hover .gp-button-icon {
      color: undefined;
    }

     .gun-AKD3JR-sold-out .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gun-AKD3JR-sold-out:hover .gp-button-price {
      color: undefined;
    }

    .gun-AKD3JR-sold-out .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gun-AKD3JR-sold-out .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gun-AKD3JR-sold-out:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gun-AKD3JR" aria-label="Out of stock"
      gp-data-hidden="{% if variant.available %}true{% endif %}"
      data-state="idle"
      class="gun-AKD3JR-sold-out gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-sold-out btn-disabled gp-opacity-30 gp-cursor-default"
      style="--hvr-bg:rgba(36, 36, 36, 0.8);--bg:#242424;--pl:50px;--pr:50px;--pt:12px;--pb:12px;--pl-tablet:50px;--pr-tablet:50px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:50px;--pr-mobile:50px;--pt-mobile:12px;--pb-mobile:12px;--w:;--w-tablet:;--w-mobile:;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggun-AKD3JR_outOfStockLabel }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gG-TdudJm-">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gG-TdudJm- "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.ggG-TdudJm-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 16",
    "tag": "section",
    "class": "gps-548167638077932636 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/bfyurd-gb/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=545872441897911241&sectionId=548167638077932636)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggCvxXz6exY_text","label":"ggCvxXz6exY_text","default":"<p>Save</p>"},{"type":"html","id":"ggF9FJRy1Do_text","label":"ggF9FJRy1Do_text","default":"<p>$13.00</p>"},{"type":"html","id":"ggUMw7SJDVm_text","label":"ggUMw7SJDVm_text","default":"<p>DEAL OF THE DAY</p>"},{"type":"html","id":"ggun-AKD3JR_label","label":"ggun-AKD3JR_label","default":"GET ONLY"},{"type":"html","id":"ggun-AKD3JR_outOfStockLabel","label":"ggun-AKD3JR_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggun-AKD3JR_unavailableLabel","label":"ggun-AKD3JR_unavailableLabel","default":"Unavailable"},{"type":"html","id":"ggG-TdudJm-_text","label":"ggG-TdudJm-_text","default":"<p>NO CAKINESS. NO HARSH LINES. JUST BEAUTIFUL,<br>SUN-KISSED SKIN. LUCKY YOU.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
