

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-546441318671320306.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-546441318671320306.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-546441318671320306.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-546441318671320306.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-546441318671320306.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-546441318671320306.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-546441318671320306.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-546441318671320306.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-546441318671320306.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-546441318671320306.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-546441318671320306.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-546441318671320306.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-546441318671320306.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-546441318671320306.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-546441318671320306.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-546441318671320306.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-546441318671320306.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-546441318671320306.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-546441318671320306.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-546441318671320306.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-546441318671320306.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-546441318671320306.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-546441318671320306.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-546441318671320306.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-546441318671320306.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-546441318671320306.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-546441318671320306.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-546441318671320306.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-546441318671320306.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-546441318671320306.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-546441318671320306.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-546441318671320306.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-546441318671320306.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-546441318671320306.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-546441318671320306.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-546441318671320306.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-546441318671320306.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-546441318671320306.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-546441318671320306.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-546441318671320306 .gp-relative{position:relative}.gps-546441318671320306 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-546441318671320306 .gp-mb-0{margin-bottom:0}.gps-546441318671320306 .gp-flex{display:flex}.gps-546441318671320306 .gp-grid{display:grid}.gps-546441318671320306 .\!gp-hidden{display:none!important}.gps-546441318671320306 .gp-hidden{display:none}.gps-546441318671320306 .gp-w-full{width:100%}.gps-546441318671320306 .gp-max-w-full{max-width:100%}.gps-546441318671320306 .gp-flex-col{flex-direction:column}.gps-546441318671320306 .gp-gap-y-0{row-gap:0}.gps-546441318671320306 .gp-overflow-hidden{overflow:hidden}.gps-546441318671320306 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-546441318671320306 .gp-duration-200{transition-duration:.2s}.gps-546441318671320306 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-546441318671320306 .tablet\:\!gp-hidden{display:none!important}.gps-546441318671320306 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-546441318671320306 .mobile\:\!gp-hidden{display:none!important}.gps-546441318671320306 .mobile\:gp-hidden{display:none}}.gps-546441318671320306 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gTxdhqlYxG" data-id="gTxdhqlYxG"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTxdhqlYxG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ga3IjLluPi gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gpTopBGDYJ ">
      
    <div class='gp-flex gp-overflow-hidden' style="border-radius: inherit">
      
  <gp-image-comparison
  data-id="gpTopBGDYJ"
    gp-data='{"aspectRatio":{"desktop":"21/9","mobile":"4/3"},"defaultRatio":"359/736","handle":null,"handleSize":40,"hover":false,"leftImage":{"backupFileKey":"gempages_545872436478870694-2f053afa-9187-419a-a5e6-58b8adc71a94.jpg","height":736,"src":"https://cdn.shopify.com/s/files/1/0916/9348/2307/files/gempages_545872436478870694-2f053afa-9187-419a-a5e6-58b8adc71a94.jpg","storage":"FILE_CONTENT","width":359},"leftImageCss":{},"rightImage":{"backupFileKey":"gempages_545872436478870694-9551c6d2-3f08-43ca-93aa-f7a785911a7d.jpg","height":736,"src":"https://cdn.shopify.com/s/files/1/0916/9348/2307/files/gempages_545872436478870694-9551c6d2-3f08-43ca-93aa-f7a785911a7d.jpg","storage":"FILE_CONTENT","width":364},"rightImageCss":{},"sliderLineColor":"#ffffff","sliderLineWidth":2,"sliderPositionPercentage":0.5,"componentUid":"gpTopBGDYJ","vertical":false}'
    class="gp-w-full gp-flex "
    style="--jc:start;--jc-tablet:start;--jc-mobile:start"
  >
  <div id="img-comparison-wrapper-gpTopBGDYJ" style="--w:100%;--w-tablet:100%;--w-mobile:100%">
    <div
      style="box-sizing:border-box;position:relative;overflow:hidden;height:auto;display:block"
      id="img-comparison-container-gpTopBGDYJ"
      data-testid="container"
    >
      <img
        data-testid="temp-image"
        alt=""
        title=""
        width="359"
        height="736"
        style="--pos:static;--op:0;--aspect:21/9;--aspect-mobile:4/3"
      />
      
  <img
      id="right-image-gpTopBGDYJ" title
      data-testid="right-image"
      draggable="false"
      class="gp_lazyload"
      data-src="{{ "gempages_545872436478870694-9551c6d2-3f08-43ca-93aa-f7a785911a7d.jpg" | file_url }}" data-srcset="{{ "gempages_545872436478870694-9551c6d2-3f08-43ca-93aa-f7a785911a7d.jpg" | file_url }} 768w,{{ "gempages_545872436478870694-9551c6d2-3f08-43ca-93aa-f7a785911a7d.jpg" | file_url }} 1024w,{{ "gempages_545872436478870694-9551c6d2-3f08-43ca-93aa-f7a785911a7d.jpg" | file_url }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="display:block;height:100%;position:absolute;width:100%;top:0;--objf:scale-down;--objf-mobile:contain"
    />
  
      
  <img
      id="left-image-gpTopBGDYJ" title
      data-testid="left-image"
      draggable="false"
      class="gp_lazyload"
      data-src="{{ "gempages_545872436478870694-2f053afa-9187-419a-a5e6-58b8adc71a94.jpg" | file_url }}" data-srcset="{{ "gempages_545872436478870694-2f053afa-9187-419a-a5e6-58b8adc71a94.jpg" | file_url }} 768w,{{ "gempages_545872436478870694-2f053afa-9187-419a-a5e6-58b8adc71a94.jpg" | file_url }} 1024w,{{ "gempages_545872436478870694-2f053afa-9187-419a-a5e6-58b8adc71a94.jpg" | file_url }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="display:block;height:100%;position:absolute;width:100%;top:0;--objf:scale-down;--objf-mobile:contain"
    />
  
      <div id="image-comparison-slider-gpTopBGDYJ" style="z-index:2;align-items:center;cursor:ew-resize;display:flex;flex-direction:column;height:100%;justify-content:center;position:absolute;width:40px">
        <div style="display:block;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);flex:0 1 auto;height:100%;width:2px"></div>
        <div style="align-items:center;border:2px solid #ffffff;border-radius:100%;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);box-sizing:border-box;display:flex;flex:1 0 auto;height:40px;justify-content:center;width:40px;transform:none">
          <svg style="margin-right:2px;filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px)" width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 6L6 0V12L0 6Z" fill="white"/>
          </svg>
          <svg style="margin-left:2px;filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px)" width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 6L0 12V0L6 6Z" fill="white"/>
          </svg>
        </div>
        <div style="display:block;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);flex:0 1 auto;height:100%;width:2px"></div>
      </div>
      
      
    </div></div>
  </gp-image-comparison>
  <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-image-comparison.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 14",
    "tag": "section",
    "class": "gps-546441318671320306 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/bfyurd-gb/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=545872441897911241&sectionId=546441318671320306)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggpTopBGDYJ_leftImageLabel","label":"ggpTopBGDYJ_leftImageLabel","default":"Before"},{"type":"html","id":"ggpTopBGDYJ_rightImageLabel","label":"ggpTopBGDYJ_rightImageLabel","default":"After"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
