

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-545874541683934368.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-545874541683934368.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-545874541683934368.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-545874541683934368.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-545874541683934368.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-545874541683934368.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-545874541683934368.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-545874541683934368.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-545874541683934368.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-545874541683934368.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-545874541683934368.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-545874541683934368.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-545874541683934368.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-545874541683934368.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-545874541683934368.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-545874541683934368.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-545874541683934368.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-545874541683934368.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-545874541683934368.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-545874541683934368.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-545874541683934368.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-545874541683934368.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-545874541683934368.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-545874541683934368.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-545874541683934368.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-545874541683934368.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-545874541683934368.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-545874541683934368.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-545874541683934368.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-545874541683934368.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-545874541683934368.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-545874541683934368.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-545874541683934368.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-545874541683934368.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-545874541683934368.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-545874541683934368.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-545874541683934368.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-545874541683934368.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-545874541683934368.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-545874541683934368.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-545874541683934368.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-545874541683934368.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-545874541683934368.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-545874541683934368.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-545874541683934368.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-545874541683934368.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-545874541683934368.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-545874541683934368.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-545874541683934368.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-545874541683934368.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-545874541683934368.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-545874541683934368.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-545874541683934368.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-545874541683934368.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-545874541683934368.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-545874541683934368.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-545874541683934368.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-545874541683934368.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-545874541683934368.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-545874541683934368.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-545874541683934368.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-545874541683934368.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-545874541683934368.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-545874541683934368.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-545874541683934368.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-545874541683934368.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-545874541683934368.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-545874541683934368.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-545874541683934368.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-545874541683934368.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-545874541683934368.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-545874541683934368.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-545874541683934368.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-545874541683934368 .gp-relative{position:relative}.gps-545874541683934368 .gp-z-1{z-index:1}.gps-545874541683934368 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-545874541683934368 .gp-mb-0{margin-bottom:0}.gps-545874541683934368 .gp-flex{display:flex}.gps-545874541683934368 .gp-inline-flex{display:inline-flex}.gps-545874541683934368 .gp-grid{display:grid}.gps-545874541683934368 .gp-contents{display:contents}.gps-545874541683934368 .\!gp-hidden{display:none!important}.gps-545874541683934368 .gp-hidden{display:none}.gps-545874541683934368 .gp-h-full{height:100%}.gps-545874541683934368 .gp-w-full{width:100%}.gps-545874541683934368 .gp-max-w-full{max-width:100%}.gps-545874541683934368 .gp-flex-col{flex-direction:column}.gps-545874541683934368 .gp-items-center{align-items:center}.gps-545874541683934368 .gp-justify-center{justify-content:center}.gps-545874541683934368 .gp-gap-y-0{row-gap:0}.gps-545874541683934368 .gp-overflow-hidden{overflow:hidden}.gps-545874541683934368 .gp-break-words{overflow-wrap:break-word}.gps-545874541683934368 .gp-rounded-none{border-radius:0}.gps-545874541683934368 .gp-text-center{text-align:center}.gps-545874541683934368 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-545874541683934368 .gp-no-underline{text-decoration-line:none}.gps-545874541683934368 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-545874541683934368 .gp-duration-200{transition-duration:.2s}.gps-545874541683934368 .gp-duration-300{transition-duration:.3s}.gps-545874541683934368 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-545874541683934368 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-545874541683934368 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-545874541683934368 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-545874541683934368 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-545874541683934368 .tablet\:\!gp-hidden{display:none!important}.gps-545874541683934368 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-545874541683934368 .mobile\:\!gp-hidden{display:none!important}.gps-545874541683934368 .mobile\:gp-hidden{display:none}}.gps-545874541683934368 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-545874541683934368 .\[\&_p\]\:gp-inline p{display:inline}.gps-545874541683934368 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-545874541683934368 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-545874541683934368 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g-4EG3I1xA" data-id="g-4EG3I1xA"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:none;--op:100%;--pt:0px;--pb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-4EG3I1xA gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="gOBGLlqAyV gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gMpN7Ji8wY"
    role="presentation"
    class="gp-group/image gMpN7Ji8wY"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:32px;--mb-mobile:14px;--pl-mobile:auto;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_545872436478870694-5b77d966-fa66-46d7-a2fa-af88c1df330e_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAxMCIgaGVpZ2h0PSIxMDQ3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDEwLTEwNDciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMTAiIGhlaWdodD0iMTA0NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAxMCIgaGVpZ2h0PSIxMDQ3IiBmaWxsPSJ1cmwoI2ctMTAxMC0xMDQ3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAxMCIgdG89IjEwMTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_545872436478870694-5b77d966-fa66-46d7-a2fa-af88c1df330e_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAxMCIgaGVpZ2h0PSIxMDQ3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDEwLTEwNDciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMTAiIGhlaWdodD0iMTA0NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAxMCIgaGVpZ2h0PSIxMDQ3IiBmaWxsPSJ1cmwoI2ctMTAxMC0xMDQ3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAxMCIgdG89IjEwMTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAxMCIgaGVpZ2h0PSIxMDQ3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDEwLTEwNDciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMTAiIGhlaWdodD0iMTA0NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAxMCIgaGVpZ2h0PSIxMDQ3IiBmaWxsPSJ1cmwoI2ctMTAxMC0xMDQ3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAxMCIgdG89IjEwMTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_545872436478870694-5b77d966-fa66-46d7-a2fa-af88c1df330e.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="gW5AgM0UEY gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="ghiWaLhB-b" data-id="ghiWaLhB-b"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--ml:auto;--mr:1px;--pt:32px;--pl:15px;--pb:0px;--pr:15px;--mb-mobile:10px;--pt-mobile:7px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:16px;--pt-tablet:32px;--pl-tablet:15px;--pb-tablet:0px;--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:600px;--w-tablet:600px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghiWaLhB-b gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcp-tZjRIO gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gOftiiD9aN">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gOftiiD9aN "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:28px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:57px;--size-tablet:57px;--size-mobile:42px;--lh:110%;--lh-tablet:110%;--lh-mobile:110%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggOftiiD9aN_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gUKZg9giEN">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gUKZg9giEN "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:24px;--mb-mobile:28px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUKZg9giEN_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:16px;--mb-mobile:14px;--ta:left"
    
  >
    <style>
    .gUNWoYumif.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    .gUNWoYumif:hover::before {
      
      
    }

    .gUNWoYumif:hover .gp-button-icon {
      color: undefined;
    }

     .gUNWoYumif .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gUNWoYumif:hover .gp-button-price {
      color: undefined;
    }

    .gUNWoYumif .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gUNWoYumif .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gUNWoYumif:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/lip-glowy-balm-berry-fruits-rouge" target="_self" data-id="gUNWoYumif" aria-label="<p>Shop Now</p>"
      
      data-state="idle"
      class="gUNWoYumif gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#334fb4;--bg:#718fdc;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none;--w:170px;--w-tablet:170px;--w-mobile:170px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:13px;--pb:13px;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggUNWoYumif_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-545874541683934368 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/bfyurd-gb/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=545872441897911241&sectionId=545874541683934368)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggOftiiD9aN_text","label":"ggOftiiD9aN_text","default":"Ultimate Lip Care Solution"},{"type":"html","id":"ggUKZg9giEN_text","label":"ggUKZg9giEN_text","default":"<p>Experience the perfect blend of natural ingredients with our hydrating lip balm. Packed with <strong>Murumuru Butter</strong>, <strong>Shea Butter</strong>, and a host of nourishing oils, this balm provides intense hydration while locking in moisture for hours. Its lightweight formula soothes, repairs, and protects your lips from dryness and environmental damage. Infused with <strong>Hyaluronic Acid</strong>, it ensures your lips stay plump, soft, and irresistibly smooth. Perfect for everyday use, it’s your go-to solution for chapped lips and ultimate lip care.</p><p><strong>Key Ingredients</strong>: Murumuru Butter, Shea Butter, Jojoba Oil, Cocoa Butter, Hyaluronic Acid, Coconut Oil, Apricot Kernel Oil.<br>&nbsp;</p>"},{"type":"html","id":"ggUNWoYumif_label","label":"ggUNWoYumif_label","default":"<p>Shop Now</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
