

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-545971245758284610.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-545971245758284610.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-545971245758284610.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-545971245758284610.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-545971245758284610.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-545971245758284610.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-545971245758284610.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-545971245758284610.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-545971245758284610.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-545971245758284610.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-545971245758284610.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-545971245758284610.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-545971245758284610.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-545971245758284610.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-545971245758284610.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-545971245758284610.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-545971245758284610.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-545971245758284610.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-545971245758284610.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-545971245758284610.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-545971245758284610.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-545971245758284610.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-545971245758284610.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-545971245758284610.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-545971245758284610.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-545971245758284610.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-545971245758284610.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-545971245758284610.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-545971245758284610.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-545971245758284610.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-545971245758284610.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-545971245758284610.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-545971245758284610.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-545971245758284610.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-545971245758284610.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-545971245758284610.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-545971245758284610.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-545971245758284610.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-545971245758284610.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-545971245758284610.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-545971245758284610.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-545971245758284610.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-545971245758284610.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-545971245758284610.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-545971245758284610.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-545971245758284610.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-545971245758284610.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-545971245758284610.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-545971245758284610.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-545971245758284610.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-545971245758284610.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-545971245758284610.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-545971245758284610.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-545971245758284610.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-545971245758284610.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-545971245758284610.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-545971245758284610.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-545971245758284610.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-545971245758284610.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-545971245758284610.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-545971245758284610.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-545971245758284610.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-545971245758284610.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-545971245758284610.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-545971245758284610 .gp-relative{position:relative}.gps-545971245758284610 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-545971245758284610 .gp-mb-0{margin-bottom:0}.gps-545971245758284610 .gp-flex{display:flex}.gps-545971245758284610 .gp-grid{display:grid}.gps-545971245758284610 .gp-contents{display:contents}.gps-545971245758284610 .\!gp-hidden{display:none!important}.gps-545971245758284610 .gp-hidden{display:none}.gps-545971245758284610 .gp-h-full{height:100%}.gps-545971245758284610 .gp-w-full{width:100%}.gps-545971245758284610 .gp-max-w-full{max-width:100%}.gps-545971245758284610 .gp-flex-col{flex-direction:column}.gps-545971245758284610 .gp-gap-y-0{row-gap:0}.gps-545971245758284610 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-545971245758284610 .gp-duration-200{transition-duration:.2s}.gps-545971245758284610 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-545971245758284610 .tablet\:\!gp-hidden{display:none!important}.gps-545971245758284610 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-545971245758284610 .mobile\:\!gp-hidden{display:none!important}.gps-545971245758284610 .mobile\:gp-hidden{display:none}}.gps-545971245758284610 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-545971245758284610 .\[\&_p\]\:gp-inline p{display:inline}.gps-545971245758284610 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-545971245758284610 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gdfKrXwxm8" data-id="gdfKrXwxm8"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgc-mobile:#ffffff;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gdfKrXwxm8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkUFTQJI2K gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gwsRC56IAD" data-id="gwsRC56IAD"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:48px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 4fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwsRC56IAD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdCNMqKLya gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gB90bGooRH"
    role="presentation"
    class="gp-group/image gB90bGooRH"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_545872436478870694-63687e36-862a-4614-ae41-77e7ddc06979_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNDIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTE0MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTQyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNDIwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xNDIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_545872436478870694-63687e36-862a-4614-ae41-77e7ddc06979_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNDIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTE0MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTQyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNDIwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xNDIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNDIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTE0MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTQyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxNDIwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xNDIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_545872436478870694-63687e36-862a-4614-ae41-77e7ddc06979.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:fill;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gcym8a8iFo">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gcym8a8iFo "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:40px;--size-tablet:32px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggcym8a8iFo_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbo08oRJpW gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gQiwIR12Gd">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gQiwIR12Gd "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--mb-tablet:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggQiwIR12Gd_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g-EAdqSodL" data-id="g-EAdqSodL"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-3xl);--mb-tablet:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-EAdqSodL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gj2E2b37IL gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghn5hQR1m2">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ghn5hQR1m2 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:24px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghn5hQR1m2_text | replace: '$locationOrigin', locationOrigin }}</h3>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRgGt5ULFQ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gRgGt5ULFQ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggRgGt5ULFQ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="giNXIoNJMZ" data-id="giNXIoNJMZ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-3xl);--mb-tablet:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giNXIoNJMZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7nThxNP-5 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTLXnkZuwx">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gTLXnkZuwx "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:24px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggTLXnkZuwx_text | replace: '$locationOrigin', locationOrigin }}</h3>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gzP_cuHAok">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gzP_cuHAok "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggzP_cuHAok_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gFA5Idyx5z" data-id="gFA5Idyx5z"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb-mobile:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFA5Idyx5z gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gizKfFdNW2 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gfR427zFRl">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gfR427zFRl "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:24px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggfR427zFRl_text | replace: '$locationOrigin', locationOrigin }}</h3>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gUg9zTCsjK">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gUg9zTCsjK "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggUg9zTCsjK_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gHzocD9zU1 gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-545971245758284610 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/bfyurd-gb/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=545872441897911241&sectionId=545971245758284610)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggcym8a8iFo_text","label":"ggcym8a8iFo_text","default":"How to use:"},{"type":"html","id":"ggQiwIR12Gd_text","label":"ggQiwIR12Gd_text","default":"<p>HOW IT WORKS</p>"},{"type":"html","id":"gghn5hQR1m2_text","label":"gghn5hQR1m2_text","default":"01. Apply Evenly"},{"type":"html","id":"ggRgGt5ULFQ_text","label":"ggRgGt5ULFQ_text","default":"<p>Glide the lip balm directly onto clean, dry lips.</p>"},{"type":"html","id":"ggTLXnkZuwx_text","label":"ggTLXnkZuwx_text","default":"02. Reapply When Needed:"},{"type":"html","id":"ggzP_cuHAok_text","label":"ggzP_cuHAok_text","default":"<p>Use throughout the day to keep your lips hydrated and soft.</p>"},{"type":"html","id":"ggfR427zFRl_text","label":"ggfR427zFRl_text","default":"03. Store Properly"},{"type":"html","id":"ggUg9zTCsjK_text","label":"ggUg9zTCsjK_text","default":"<p>Protect the product from excessive heat and direct sunlight.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
